.table-container {
  max-height: 500px; 
  max-width: 100%;  
  overflow-y: auto;  
  overflow-x: auto;  
}

table {
  width: 75%;  
  border-collapse: collapse;
  border-radius: 25px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border: 2px solid white;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}



.table-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-button-container > button {
  padding: 10px;
  border-radius: 15px;
  color: #ffffff;
  border: none;
}
.table-button-container > button:first-child {
  background-color: blue;
}

.table-button-container > button:nth-child(2) {
  background-color: black;
}

.load-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 75%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
 
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  
}

.button-group button {
  margin-right: 1rem; 
  border: none; 
  background: none;
  padding: 0; 
}

.clear-button-container {
  position: relative; 
}
.clear-button{
  border: none;
  background: none;
}

.clear-button-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem; 
  width: 0.5px;
  background-color: lightgray;
}


.load-container::before,
.load-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.5px; 
  background-color: lightgray;
}

.load-container::before {
  top: -3px; 
}

.load-container::after {
  bottom: -3px; 
}


.totals {
  margin-top: 20px;  
  font-weight: bold;
  min-height: 3rem;
  border-radius: 25px;
  background-color: rgb(237, 241, 243);
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}