body{
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.menu{    
    background-color: #131313;
}
.menu__container{
    margin: 0 auto;
    min-height: 85px;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.menu__logo{
    margin: 37px 0px 37px 0px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.menu__list{
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type:none
}
.menu__listitem2{
    margin-left:47px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__listitem2:hover{
    color: #E3B873;
}
.menu__tel{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    align-self: center;
}
.menu__button{
    
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: center;
    padding: 13px 33px 13px 33px;
}
.focused{
    cursor: pointer;
}
.turnkey{
    background-image: url(./images/Group_7.png);   
    background-size: cover;  
    height: 707px; 
    padding-top: 194px;
}
.container{
    margin:0 auto;  
    max-width: 1250px;

}
.turnkeyrepair__title{
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.turnkeyrepair__city{
    color: #E3B873;
}
.turnkeyrepair__text{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 19px 0 41px 0;
}
.turnkeyrepair__buttons{
    display: flex;
}
.turnkeyrepair__button1{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
    padding: 20px 42px;
}
.turnkeyrepair__button2{
    border: 1px solid #FFFFFF;
    background-color: rgba(28,28,28,0);
    padding: 19px 23px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
}
.completed{
    background: #131313;
    height: 1074px;

}
.completed__container{
    max-width: 1171px;    
    margin: 0 auto;
    padding-top: 107px;
    display: grid;
    grid-gap: 0; 
    grid-template-areas: 
    ". mn"
    "cn ph"
    ". lg";
}
.completed__content{
    grid-area: cn;
    max-width: 492px;
    max-height: 552px;
}
.completed__header{
    margin: 0;
    max-width: 253px;
    max-height: 66px;
    font-family: 'Yeseva One';    
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.completed__text{
    max-width: 442px;
    max-height: 86px;
    padding: 34px 50px 25px 0;
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.completed__menu{
    grid-area: mn;
    display: flex;
    justify-content: start; 
    margin: 0;
    padding: 0 0 53px 0;
    list-style-type: none;
}
.completed__menu>li{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-right: 66px;
}
.completed__menu>li:hover{
    color: #E3B873;
    text-decoration: underline;
    text-decoration-color:#E3B873; 
    text-decoration-style: solid;
}
.completed__photo{
    grid-area: ph;
}
.completed__logo{
    grid-area: lg;
}
.completed__conditionsgrid{
    padding: 0 90px 58px 0;
    margin: 0;
    display: grid;
    grid-template-areas:
    "cc1 cc2"
    "cc3 cc4";
}
.completed__conditionsgrid>section>h2{
    padding: 34px 0 0 0;
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.completed__conditionsgrid>section>p{
    padding: 9px 0 0 0;
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;

}
.completed__condition1{
    grid-area: cc1;
}
.completed__condition2{
    grid-area: cc2;
}
.completed__condition3{
    grid-area: cc3;
}
.completed__condition4{
    grid-area: cc4;
}
.comleted__content{
    margin: 0;
    padding: 0;
    max-width: 492px;
    max-height: 680px;
}
.completed__photo{
    max-width: 689px;
    max-height: 482px;
}
.completed__navigationitem1{
    padding-right: 30px;
}
.completed__navigationitem2{
    padding-right: 17px;
}
.completed__navigationitem3{
    padding-left: 13px;
}
.completed__logo{
    margin: 92px 0 0 -10px;
}
.video{
    background-image: url(./images/working_man.png);
    background-size: cover;
    width: 817px;
    height: 404px;
    margin: 0 auto;
    margin-top: -217px;
    position: relative;
}
.video__container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
.video__button{
    display: flex;
    align-items: center;
    background-color: #E3B873;
    border-radius: 50%;
    border: none;
    width: 85px;
    height: 85px;
}
.video__buttonimg{
    width: 28px;
    height: 28px;
    padding: 28px;
}
.textandinput__container{
    width: 769px;
    margin: 0 auto;
}

.textandinput__line{
   max-width: 55px;
   margin: 63px 357px 35px ;
}
.textandinput__text{
    margin: 0 0 92px 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
}
.textandinput__wrapper{
    display: flex;
    flex-direction: column;
}
.textandinput__name{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.textandinput__area{
    border: none;
    margin: 8px 0 8px 0;
}
.textandinput__area[placeholder]{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.textandinput__bigline{
    max-width: 231px;
    border: 1px solid rgba(54, 54, 54, 0.3);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.textandinput_inputcontainer{
    display: flex;
    justify-content: space-between;
}
.textandinput__button{    
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    outline: 0;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 75px 20px 75px;
}
.textandinput__label {
    cursor: pointer;
}
.textandinput__checkbox{
    display:flex;
    justify-content: center;
    margin: 40px 0 148px 0;
}
.textandinput__checkboxbox{
    display: none;
}
.textandinput__fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.textandinput__fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.textandinput__checkboxbox:checked + .textandinput__fake::before{
    opacity: 1;
}
.textandinput__checkboxtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.typesofrepair{    
    max-width: 1250px;
    margin: 0 auto;
}   

.typesofrepair__container{
    max-width: 1250px;    
    display: flex;
    justify-content: space-between;  
    margin-bottom: 290px;  
}
.typesofrepair__logocontainer{
    max-width: 1250px; 
    display: flex;
    justify-items: center;
}
.typesofrepair__logo{        
    margin: 0 auto;
    padding: 0 0 31px 0;
}
.typesofrepair__emptyroom{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.typesofrepair__wrapper{    
    margin-top: -130px;    
    width: 330px; 
    height: 286px ;    
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);   
}
    
.typesofrepair__head{
    padding: 25px 0 0 34px;
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.typesofrepair__redecorating{
    padding: 13px 34px 0 50px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.typesofrepair__button{
    margin-top: 23px;
}
.typesofrepair__button{    
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    outline: 0;
    border: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 22px;    
}
.listandform{
    background-color: #fff;
}
.listandform__container{
    max-width: 1250;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "lst frm"
    ". btn";
    grid-column-gap: 130px;
}
.listandform__listsection{
    display:flex;
    justify-content: end;
    grid-area: lst;
    height: 550px;      
}
.listandform__wrapper{    
    background: url(./images/list_image.png);
    background-size: cover;
    height: 550px;
    width: 570px;
    display: flex;
    justify-content: end;

}
.listandform__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 374px;
    height: 473px;     
}
.listandform__listitem{
    display: flex;
    align-items: center;
}
.listandform__yellow{
    width: 42px;
    height: 42px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    margin-left: 0;
}
.listandform__number{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.listandform__listtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.listandform__formsection{
    grid-area: frm;
    background-color: #fff;
    height: 565px;

}
.listandform__formsectionwrapper{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    width: 506px; 
    height: 509px; 
    padding: 28px 50px;
    

}
.listandform__formtext{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    justify-self: center;
}

.listandform__formwrapper{
    display: flex;
    flex-direction: column;
    background-color: #131313;
}
.listandform__formname{
    margin: 0 0 7px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.listandform__formarea{
    border: none;
    margin: 0;
    background-color: #131313;
    
}
.listandform__formarea[placeholder]{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.listandform__formbigline{
    margin: 0 0 40px 0;
    width: 408px;
    background: rgba(255, 255, 255, 0.15);
}
.listandform__formarea-label {
    width: 400px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    justify-self: start;
}
.listandform__formlabel {
    cursor: pointer;
}
.listandform__formcheckbox{
    display:flex;
    justify-content: start;
    margin: 18px 0 40px 0;
}
.listandform__formcheckboxbox{
    display: none;
}
.listandform__formfake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.listandform__formfake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.listandform__formcheckboxbox:checked + .listandform__formfake::before{
    opacity: 1;
}
.listandform__formcheckboxtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.listandform__formbutton{    
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    outline: 0;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-end;
    padding: 19px 22px;   
    justify-self: flex-end;
}
.listandform__formbigline1{
    margin: 0 0 18px 0;
    width: 408px;
    background: rgba(255, 255, 255, 0.15);    
}
.listandform-piggy{
    grid-area: btn;
    display: flex;
    margin-top: 38px;
    margin-bottom: 242px;

}
.listandform-piggy__yellow{
    width: 72px;
    height: 72px;
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;
}
.listandform-piggy__text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fotoandcolumn{ 
    background-color: white;
    margin: 0 auto;
}
.fotoandcolumn__wrapper{
    margin:0 auto;
    background: url(./images/./fotounderthecolumn.png);    
    height: 865px;
    width: 1440px;    
    background-repeat: no-repeat;
    position: relative;    
}
.fotoandcolumn__container{
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);    
    height:865px;    
}
.fotoandcolumn_column-container1{
    display: flex;
    flex-direction: column;
    max-width: 349px;
    max-height: 748px;
    top:-41px;
    right: 540px;
    position: absolute;    
}
.fotoandcolumn_column-img1{
   margin-bottom: 39px;
}
.fotoandcolumn_column-container2{
    display: flex;
    flex-direction: column;
    max-width: 355px;
    max-height: 937px;
    top: -113px;
    right: 148px;
    position: absolute; 
}
.fotoandcolumn__head{
    margin: 0;
    padding-top: 137px;
    padding-left: 100px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}
.fotoandcolumn__list{
    list-style-type: none;
    margin: 0;
    padding: 47px 0 0 99px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fotoandcolumn__list>li{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;        
}
.fotoandcolumn__list>li:hover{
    color: #E3B873;
    cursor: pointer;
}
.ourclients{
    background-color:white ;
}
.ourclients__container{
    margin: 110px auto 159px;
    width: 1236px;
    height: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ourclients__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourclients__text{
    margin: 0 0 17px 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.ourclients__customers{
    margin: 25px 0 40px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.ourclients__photoblock{
    display: flex;
    align-items: center;
    margin:  20px 0 0 24px;
}
.ourclients__photo{
    border-radius: 50%;
    margin-right: 23px;
}
.ourclients__name{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.ourclients__button{
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-top: -9%;
   
}
.ourclients__wrapper{
    display: flex;
    justify-content: space-around;
}
.ourclients__content{
    display: flex;
    flex-direction: column;
    width: 376px;
    height: 428px;
}
.ourclients__thanks{
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.ourclients__thanks{
    margin: 22px 32px 90px 20px;
}
.ourclients__button-text{
    margin-left: 15px;
    margin-right: 12px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ourclients__button-icon{   
    margin-right: 17px;
}
.bigblock{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1440px;    
}
.houses{    
    margin: 0 auto;
}
.houses__wrapper{ 
    margin: 0 auto;   
    max-width: 1460px;
    max-height: 223px;
    display: flex; 
    position: relative;
    z-index: -1;    
}
.houses__image{
    opacity: 0.012;
}
.questions{    
    width: 883px;
    height: 445px;
    background: #181818;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left:19%;
}
.questions__wrapper{
    margin: 34px 0 0 0 ;    
    width: 520px;
    height: 377px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    background: #181818;   
}
.questions__head{
    margin: 0;
    grid-area: qhd;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    justify-self: center;
}   
.questions__formwrapper{
    display: flex;
    flex-direction: column;
    background-color: #181818;
    justify-content: space-between;
}
.questions__formname{    
    margin: 0 0 7px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.questions__formarea{
    margin: 0 0 8px 0;
    padding: 0;
    border: none;    
    background-color: #181818;
    
}
.questions__formarea[placeholder]{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.questions__formbigline{
    margin: 0;
    width: 231px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);}

    .questions__formbigline1{    
    margin: 0;
    width: 517px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}
.questions__container{
    display: flex;
    justify-content: space-between;
}
.questions__formcheckbox{
    display:flex;
    justify-content: center;
    margin: 18px 0 40px 0;
}
.questions__formcheckboxbox{
    display: none;
}
.questions__formfake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}
.questions__formfake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.questions__formcheckboxbox:checked + .questions__formfake::before{
    opacity: 1;
}
.questions__formcheckboxtext{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}
.questions__button{
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start; 
    padding: 20px 54px;  
    align-self: center;  
}
.map{     
    margin: 0 auto;
    position: relative;
    z-index: -1;
    
}
.map__wrapper{
    margin:0 auto;
    background: url(./images/map_background.png);    
    height: 953px;
    width: 1440px;    
    background-repeat: no-repeat;
    position: relative;    
}
.map__container{
    background:rgba(24, 24, 24, 0.93)  100%;   
    height: 953px; 
    display: flex;  
    flex-direction: column; 
    justify-content: center;
    align-items: center;
 }
.map__head{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 276px;
}
.map__envelope-and-camera{   
   align-self: center;
   display: flex;
   margin-bottom: 30px;
   
}
.map__envelope{
    display: flex;
    background: #E3B873;
    border: #131313;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-left: 15px;    
}
.map__envelope-img{
    align-self: center;
    justify-content: center;
}
.map__map{
    width: 925px;
    height: 466px;
    display: flex;
}
.menu__container1{    
    margin: 0 auto;
    min-height: 85px;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.menu1{
    margin: 0 auto;
    background-color: #131313;
    width:1400px;
}
