* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #111;
}
.App {
  height: 90vh;
  background: #fff;
  max-width: 480px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.main {
  background: #111;
  position: relative;
}
.btn-search {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.2 linear;
}
.btn-search:hover {
  background: rgba(43, 43, 43, 0.352);
}
.btn-search img {
  width: 70%;
}
.temperature {
  font-size: 50px;
  color: #434343;
  font-weight: bold;
  padding: 40px 20px;
  background: #7cc8df;
}

.location-info {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.location-info .location {
  flex: 1;
  background: #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.loction-info .icon {
  display: flex;
  /* align-items: center; */
  padding: 20px;
}
.location .condition {
  font-size: 24px;
}
.location-title {
  margin-top: 1rem;
  text-transform: uppercase;
}

.search-bar {
  position: absolute;
  top: -100px;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding: 10px;
  transition: all 0.2 ease-in-out;
}
.search-bar.active {
  top: 0px;
}
.search-input {
  border-radius: 20px;
  padding: 20px 20px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-size: 20px;
}
