* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #111;
}
.App {
  height: 90vh;
  background: #fff;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
.main {
  background: #111;
  height: 200px;  
}
.condition{
  font-size: 42px;
  color: #434343;
  font-weight: bold;
  padding: 40px 20px;
  background: #78d2a4 ;
}
