@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Sofia+Sans:wght@300;500;700&display=swap");
:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
}
body {
  background: var(--bg);
  font-size: 16px;
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-family: Montserrat, Roboto, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  width: 1274px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.icon {
  width: 12px;
  height: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section {
  background: var(--dark);
  border-radius: 6px;
}

button {
  background: var(--violet-dark);
  border-radius: 6px;
  padding: 9px 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

button:hover {
  background: var(--violet);
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  
  -webkit-appearance: none;
  margin: 0; 
}

input[type="number"] {
  -moz-compatibility: textfield; 
}

input {
  padding: 0;
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.styles-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.styles-logo {
  width: 304px;
}

.styles-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.styles-user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.styles-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.styles-username {
  font-size: 10px;
  line-height: 12px;
  color: var(--grey);
}

.styles-form {
  display: flex;
  align-items: center;
  background: var(--dark);
  border-radius: 6px;
  height: 27px;
  padding: 7px 10px;
  column-gap: 16px;
  width: 300px;
  position: relative;
}

.styles-icon {
  width: 13px;
  height: 13px;
}

.styles-icon svg {
  width: 100%;
  height: 100%;
  fill: var(--dark-sea);
}

.styles-input {
  flex-grow: 1;
}

.styles-input input {
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--grey);
  background: none;
  outline: none;
  width: 100%;
}

.styles-account {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.styles-favourites {
  cursor: pointer;
}

.styles-account svg {
  width: 24px;
  height: 24px;
}

.styles-icon-fav {
  stroke: var(--grey);
  fill: none;
}

.styles-icon-cart {
  fill: var(--grey);
}

.styles-icon-fav:hover {
  stroke: var(--white);
}

.styles-icon-cart:hover {
  fill: var(--white);
}

.styles-cart {
  position: relative;
}

.styles-count {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--violet);
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  color: var(--light);
  text-align: center;
  line-height: 16px;
}

.styles-box {
  z-index: 9;
  top: 120%;
  position: absolute;
  width: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background: var(--dark-sea);
  border-radius: 8px;
}

.styles-box::-webkit-scrollbar {
  display: none;
}

.styles-item {
  font-size: 13px;
  color: var(--grey);
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.styles-item:hover {
  color: var(--light);
}

.styles-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  height: 50px;
  width: 50px;
}

.styles-sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.styles-title {
  font-weight: 600;
  line-height: 20px;
}

.styles-menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.styles-link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.styles-link:hover {
  color: var(--white);
}

.styles-link.active {
  color: var(--violet);
}

.styles-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.logo {
  width: 61px;
}

.logo a {
  height: 100%;
}

.rights {
  color: var(--dark-sea);
  font-size: 12px;
  line-height: 15px;
}

.rights a {
  color: var(--violet);
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  width: 24px;
  height: 24px;
  fill: var(--dark-sea);
}

.socials svg:hover {
  fill: var(--violet);
}

.poster-home {
  position: relative;
  flex-grow: 1;
}

.poster-title {
  font-weight: 900;
  font-size: 119px;
  line-height: 145px;
  text-transform: uppercase;
  color: var(--bg);
  text-align: center;
}

.poster-product {
  position: relative;
  padding-left: 42px;
  display: flex;
  align-items: stretch;
  margin-top: 9px;
}

.poster-subtitle {
  line-height: 20px;
  text-transform: uppercase;
  color: var(--sea);
}

.poster-head {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  color: var(--light);
  max-width: 500px;
  margin: 10px 0 24px 0;
}

.poster-image {
  position: relative;
  flex-grow: 1;
  height: 250px;
}

.poster-image img {
  position: absolute;
  bottom: -15%;
  right: 10%;
  max-width: unset;
}

.poster-banner {
  display: flex;
  width: 100%;
  height: 570px;
}

.poster-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.poster-left:before,
.poster-left:after {
  content: "";
  display: block;
  position: absolute;
}

.poster-left:before {
  width: 204px;
  height: 170px;
  left: -25px;
  bottom: 74px;
  background: url(images/shoe.png) no-repeat center/contain;
}

.poster-left:after {
  width: 269px;
  height: 151px;
  right: -25px;
  bottom: -25px;
  background: url(images/devices.png) no-repeat center/contain;
}

.poster-content {
  color: var(--violet);
  font-weight: 300;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
}

.poster-content span {
  line-height: 183px;
  font-size: 150px;
  display: block;
}

.poster-more {
  margin-top: 27px;
}

.poster-right {
  width: 50%;
  position: relative;
}

.poster-discount {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--bg);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
}

.poster-discount span {
  color: var(--violet);
  font-weight: 700;
}
.sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-weight: 600;
  line-height: 20px;
}

.sidebar-menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.sidebar-link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.sidebar-link:hover {
  color: var(--white);
}

.sidebar-link.active {
  color: var(--violet);
}

.sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.products {
  width: 100%;
  padding: 25px 22px;
}

.products-list {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.products-product {
  background: var(--bg);
  border-radius: 8px;
  overflow: hidden;
  width: calc(100% / 5 - 20px);
}

.products-product:nth-child(5n) {
  width: calc(100% / 5);
}

.products-image {
  width: 100%;
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 410px);
}

.products-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.products-cat {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey);
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 28px;
}

.products-info {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-prices {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.products-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--violet-dark);
}

.products-oldPrice {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: var(--dark-sea);
}

.products-purchases {
  color: var(--dark-sea);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.products-button {
  margin-top: 24px;
  text-align: center;
}
.categories-section {
  width: 100%;
  padding: 22px;
}

.categories-list {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
}

.categories-item {
  width: calc(100% / 5);
  overflow: hidden;
  text-align: center;
}

.categories-image {
  width: 100%;
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-grow: 1;
  /* flex-direction: column; */
  max-width: calc(100% - 324px);
  padding: 24px;
  column-gap: 32px;
  color: var(--light);
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-images {
  display: flex;
  gap: 20px;
}

.product-current {
  width: 575px;
  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.images-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.product-image {
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  cursor: pointer;
}

.product-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0 20px 0;
}

.product-color,
.product-sizes {
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.product-sizes {
  margin: 16px 0;
}

.product-color span,
.product-sizes span {
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-sea);
}

.product-list {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.product-size {
  padding: 4px 8px;
  border-radius: 8px;
  background: var(--bg);
  cursor: pointer;
}

.product-size:hover,
.product-size.active {
  background: var(--violet);
}

.product-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--grey);
}

.product-actions {
  margin-top: 20px;
  display: flex;
  column-gap: 10px;
}

.product-favourite {
  background: var(--dark-sea);
  border-radius: 6px;
}

.product-favourite:hover {
  background: #7a8690;
}

.product-bottom {
  display: flex;  ;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  font-size: 10px;
  line-height: 12px;
  color: var(--dark-sea);
  margin-top: auto;
}

.product-add:disabled {
  cursor: not-allowed;
  background: var(--bg);}

  .user-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 35, 0.8);
    z-index: 98;
  }
  
  .user-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--dark);
    width: 320px;
    height: 100vh;
    z-index: 99;
    padding: 24px;
  }
  
  .user-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--light);
    text-align: center;
  }
  
  .user-form {
    margin-top: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
  }
  .user-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .user-group input {
    width: 100%;
    background: #212123;
    border-radius: 8px;
    color: var(--light);
    padding: 12px 24px;
      }
  
  .user-submit {
    font-weight: 500;
    line-height: 20px;
  }
  
  .user-close {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 9;
    cursor: pointer;
  }
  
  .user-close svg {
    width: 20px;
    height: 20px;
    stroke: var(--dark-sea);
  }
  
  .user-close:hover svg {
    stroke: #fff;
  }
  
  .user-link {
    font-size: 13px;
    color: var(--dark-sea);
    cursor: pointer;
    text-align: center;
  }
  
  .user-link:hover {
    color: var(--light);
  }

  .profile {
    flex-grow: 1;
    padding: 24px;
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .user-group {
    width: 100%;
    background: #212123;
    border-radius: 8px;
    color: var(--light);
    padding: 12px 24px;
  }
  
  .user-group input {
    width: 100%;
  }